html {
  box-sizing: border-box;
  background-color: green;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 20px;
  padding: 50px;
  outline: 5px solid firebrick;
  background-color: grey;
}

.addBtn {
  outline: 5px solid hotpink;
  display: block;
  background-color: blueviolet;
  color: white;
  font-size: 24px;
  font-weight: 900;
  padding: 10px 40px;
  border-radius: 6px;
  border: 3px dotted tomato;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  cursor: pointer;
}

.addBtn:hover {
  background-color: rgb(174, 107, 236);
}

#rectangles > .recDiv {
  width: 30px;
  height: 20px;
  margin: 10px;
  cursor: se-resize;

  position: absolute;
}
#reqtangles .recDiv:hover {
  background-color: red;
  opacity: 0.5;
}

.clicked {
  border: 5px solid red;
  z-index: 1;
}

#rectangles {
  position: relative;
  height: 80vh;
  outline: 5px dotted blue;
}
